{% extends 'base.html' %}
{% block title %}
页面旅行去了
{% endblock %}
{% block Navigation %}
            <!-- Breadcrumb area start -->
            <div class="breadcrumb-style-two gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumb-content">
                                <h2 class="page-cat">Not Found</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/">Home</a></li>
                                    <li>Not found</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb area end -->
{% endblock %}
{% block content %}
            <!-- Not found content start -->
            <div class="erika-standard-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="not-found-content text-center">
                                <h1>404</h1>
                                <h3>Ooopps.! the page you were looking for, couldn't be found.</h3>
                                <a href="/" class="button medium">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Not found content end -->
    {% endblock %}
    {% block js %}
<script>

</script>
    {% endblock %}