{% extends 'base.html' %}
{% block title %}
页面旅行去了
{% endblock %}
{% block Navigation %}
            <!-- Breadcrumb area start -->
            <div class="breadcrumb-style-two gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumb-content">
                                <h2 class="page-cat">about</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/">Home</a></li>
                                    <li>about</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb area end -->
{% endblock %}
{% block content %}
            <!-- Theme standard row Start for Buttons -->
            <div class="erika-standard-row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="area-heading area-heading-style-two text-center">
                                <!--<h2 class="area-title">faq Accordion</h2>-->
                                <p>This is a long road that cannot be turned back. Maybe the sun will never rise again tomorrow. However, the abyss gives us the eyes of hatred. I will use it to see through the end of darkness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="faq-content-wrapper">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">网站简介：</a>
                                          </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>本网站属于个人网站，会分享一些实用工具与一些骚操作等等，本人属于python程序员，爱好python，爱好编程，更爱生活的点点滴滴，会一些数据挖掘，数据分析，人工智障等，欢迎交流，多多指点，我会努力完善...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">联系方式</a>
                                          </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>QQ:3411894994</p>
                                                <p>WX:ldh15087767923</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading" role="tab" id="headingThree">-->
                                            <!--<h4 class="panel-title">-->
                                            <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can I use trademarked names in my items?</a>-->
                                          <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">-->
                                            <!--<div class="panel-body">-->
                                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit neque libero ullam et veniam explicabo vero assumenda cum. Labore, quisquam!</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading" role="tab" id="headingFive">-->
                                            <!--<h4 class="panel-title">-->
                                            <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#follapesFive" aria-expanded="false" aria-controls="follapesFive">How can I get support for an item?</a>-->
                                          <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id="follapesFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">-->
                                            <!--<div class="panel-body">-->
                                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit neque libero ullam et veniam explicabo vero assumenda cum. Labore, quisquam!</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Theme Standard row for buttons end -->
            <!-- Erika Newsletter area start -->
            <!--<div class="erika-standard-row erika-newsletter-area gray-bg">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12">-->
                            <!--<div class="area-heading area-heading-style-two text-center">-->
                                <!--<h2 class="area-title">subscribe to get in touch</h2>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12 col-sm-12">-->
                            <!--<div class="erika-news-letter text-center">-->
                                <!--<form action="#">-->
                                    <!--<input type="email" placeholder="Email address...">-->
                                    <!--<button type="submit">subscribe</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- Erika Newsletter area End -->
        </div>
        <!-- Main content end -->
    {% endblock %}
    {% block js %}
<script>

</script>
    {% endblock %}